[tool.isort]
profile = "black"
line_length = 88
combine_as_imports = true
force_sort_within_sections = true
known_first_party = ["app", "scripts", "tests"]
src_paths = ["app", "scripts", "tests"]
skip_gitignore = true
